In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [7]:
pwd

'/Users/mg/Documents/Ghana-Energy-Project'

In [8]:
files=os.listdir('./data/')

In [11]:
data=[]
for fname in files:
    df=pd.read_csv('./data/%s'%fname)
    data.append(df)

In [14]:
data1=pd.concat(data)

In [16]:
data1.shape[0]

10944

In [160]:
data1.to_pickle('./data/rawdata.pkl')

In [309]:
import datetime

start = datetime.datetime.strptime("2019-1-1", "%Y-%m-%d")
end = datetime.datetime.strptime("2019-12-12", "%Y-%m-%d")
date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]

In [310]:
date_generated.__len__()

345

In [311]:
datelist=[int(x.timestamp()) for x in date_generated]

In [312]:
datelist[0]

1546300800

In [313]:
datetime.datetime.fromtimestamp(datelist[0])

datetime.datetime(2019, 1, 1, 0, 0)

In [314]:
lst.__len__()

365

In [315]:
from bs4 import BeautifulSoup
import urllib.request
import sys
from io import StringIO
from datetime import date
lst=[]
for i in datelist:
    try:
        url='http://www.ghanagrid.com/index.php/loadprofile?disptime=%d'%i
        page = urllib.request.urlopen('http://www.ghanagrid.com/index.php/loadprofile?disptime=1576022400')
        soup = BeautifulSoup(page, 'lxml')
        p=re.compile('var data = google\.visualization\.arrayToDataTable\(.*\]\);')

        m=p.search(soup.prettify())
        x=m.group(0)
        p1=re.compile('\[.*\]')
        m1=p1.search(x)
        m1.group(0)
        x1=m1.group(0)
        x1=x1.replace(']]',']')
        x1=x1.replace('[[','[')

        x2=x1.replace('],[',']\n[')
        x2=x2.replace('[','')
        x2=x2.replace(']','')
        x2=x2.replace('\'','')

        
        TESTDATA = StringIO(x2)
        df=pd.read_csv(TESTDATA)

        

        df['test']= datetime.datetime.fromtimestamp(i)#.strftime('%Y-%m-%d')
        df['test']=pd.to_datetime(df['test'])

        df['Hour1']=pd.to_timedelta(df['Hour'],unit='h')

        df['datetime']=df['test']+df['Hour1']
        lst.append(df)
    except:
        continue
print('finished')

finished

In [316]:
data=pd.concat(lst)

In [317]:
24*365

8760

In [318]:
data.shape[0]

8256

In [319]:
data.to_pickle('./data/year2019.pkl')

In [308]:
data

,Hour,Actual Load,Forecast Load,Managed Forecast Load,Available Generation,test,Hour1,datetime
0,1,2142.10,2042,2042,2640,2018-01-01,0 days 01:00:00,2018-01-01 01:00:00
1,2,2081.79,2012,2012,2640,2018-01-01,0 days 02:00:00,2018-01-01 02:00:00
2,3,2041.30,1991,1991,2640,2018-01-01,0 days 03:00:00,2018-01-01 03:00:00
3,4,1998.44,2005,2005,2640,2018-01-01,0 days 04:00:00,2018-01-01 04:00:00
4,5,1999.15,2036,2036,2640,2018-01-01,0 days 05:00:00,2018-01-01 05:00:00
...,...,...,...,...,...,...,...,...
19,20,2536.00,2630,2430,2750,2018-12-31,0 days 20:00:00,2018-12-31 20:00:00
20,21,NaN,2627,2427,2750,2018-12-31,0 days 21:00:00,2018-12-31 21:00:00
21,22,2538.93,2512,2312,2750,2018-12-31,0 days 22:00:00,2018-12-31 22:00:00
22,23,2424.31,2270,2270,2720,2018-12-31,0 days 23:00:00,2018-12-31 23:00:00
23,24,2259.79,2116,2116,2720,2018-12-31,1 days 00:00:00,2019-01-01 00:00:00

In [224]:
df

,Hour,Actual Load,Forecast Load,Managed Forecast Load,Available Generation,test,Hour1,datetime
0,1,2142.10,2042,2042,2640,2011-12-31,0 days 01:00:00,2011-12-31 01:00:00
1,2,2081.79,2012,2012,2640,2011-12-31,0 days 02:00:00,2011-12-31 02:00:00
2,3,2041.30,1991,1991,2640,2011-12-31,0 days 03:00:00,2011-12-31 03:00:00
3,4,1998.44,2005,2005,2640,2011-12-31,0 days 04:00:00,2011-12-31 04:00:00
4,5,1999.15,2036,2036,2640,2011-12-31,0 days 05:00:00,2011-12-31 05:00:00
5,6,2024.60,2086,2086,2640,2011-12-31,0 days 06:00:00,2011-12-31 06:00:00
6,7,1951.09,2015,2015,2640,2011-12-31,0 days 07:00:00,2011-12-31 07:00:00
7,8,1784.11,2040,2040,2640,2011-12-31,0 days 08:00:00,2011-12-31 08:00:00
8,9,1867.74,2067,2067,2640,2011-12-31,0 days 09:00:00,2011-12-31 09:00:00
9,10,1957.38,2092,2092,2640,2011-12-31,0 days 10:00:00,2011-12-31 10:00:00
10,11,2030.70,2097,2097,2640,2011-12-31,0 days 11:00:00,2011-12-31 11:00:00
11,12,NaN,2116,2116,2640,2011-12-31,0 days 12:00:00,2011-12-31 12:00:00
12,13,1959.04,2123,2123,2640,2011-12-31,0 days 13:00:00,2011-12-31 13:00:00
13,14,2007.19,2159,2159,2540,2011-12-31,0 days 14:00:00,2011-12-31 14:00:00
14,15,2087.70,2169,2169,2540,2011-12-31,0 days 15:00:00,2011-12-31 15:00:00
15,16,2119.49,2187,2187,2560,2011-12-31,0 days 16:00:00,2011-12-31 16:00:00
16,17,2131.65,2183,2183,2620,2011-12-31,0 days 17:00:00,2011-12-31 17:00:00
17,18,2196.17,2187,2187,2640,2011-12-31,0 days 18:00:00,2011-12-31 18:00:00
18,19,2505.44,2612,2412,2750,2011-12-31,0 days 19:00:00,2011-12-31 19:00:00
19,20,2536.00,2630,2430,2750,2011-12-31,0 days 20:00:00,2011-12-31 20:00:00
20,21,NaN,2627,2427,2750,2011-12-31,0 days 21:00:00,2011-12-31 21:00:00
21,22,2538.93,2512,2312,2750,2011-12-31,0 days 22:00:00,2011-12-31 22:00:00
22,23,2424.31,2270,2270,2720,2011-12-31,0 days 23:00:00,2011-12-31 23:00:00
23,24,2259.79,2116,2116,2720,2011-12-31,1 days 00:00:00,2012-01-01 00:00:00